{% extends "_base.html" %}
{% load future i18n %}

{% block title %}{% trans "RoboTractor" %}{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <h1>{% blocktrans %}RoboTractor Corporate Farm Management{% endblocktrans %}</h1>
  <p>
  {% url 'registration' as reg_url %}
  {% url 'two_factor:login' as login_url %}
  {% url 'two_factor:setup' as setup_url %}
  {% url 'logout' as logout_url %}
  {% url 'secret' as secret_url %}

  <h4>{% trans "My Farm:" %}</h4>
  <ol>
    <li>
      <a href="{% url 'panel' %}">View Current Jobs</a></li>
    <li>
      <a href="{% url 'create_job' %}">Create New Job</a></li>
  </ol>
  <h5>{% trans "Registration Steps:" %}</h5>
  <ol>
    <li>{% blocktrans %}Start by <a href="{{ reg_url }}">registering</a> an
      account.{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="{{ login_url }}">Login</a> to your account.
      {% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="{{ setup_url }}">Enable</a> two-factor
      authentication.{% endblocktrans %}</li>
    <li>{% blocktrans %}Then, <a href="{{ logout_url }}">logout</a> and
      <a href="{{ login_url }}">login</a> once more to your account to see
      two-factor authentication at work.{% endblocktrans %}</li>
  </ol>

{% endblock %}
